.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .button {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .button:hover {
    transform: scale(1.1);
  }
}
