.container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 0 2rem;

  .addButton {
    width: fit-content;
    padding: 1rem;
    font-family: "Poppins";
    background-color: var(--primary);
    border: none;
    color: #ffffff;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    align-self: flex-end;
  }
}
